<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
<!-- 공통 스타일 -->
<th:block th:replace="~{fragments/styles :: commonStyles}"></th:block>	
	
	<!-- 네비게이션 바 -->
	<header>
		<nav class="navbar col-12 sticky-top bg-dark link-light">
			<div class="container">
				
				<!-- 로고/브랜드명 -->
				<a class="border border-danger navbar-brand me-auto" href="/home">
					<img th:src="@{/image/logo.png}" alt="로고" width="60">
					
				</a>
				
				<!-- 네비게이션 메뉴 -->
				<div class="border border-danger navbar-nav mx-auto d-flex flex-row p-2 gap-2 column-gap-5">
					<a class="border border-success text-decoration-none text-white" href="/fate">사주보기</a>
					<a class="border border-success text-decoration-none text-white" href="/couple">궁합보기</a>
					<a class="border border-success text-decoration-none text-white" href="/result">결과보기</a>
				</div>

				<!-- 로그인 -->
				<div class="border border-danger navbar-nav ms-auto d-flex flex-row p-2 gap-2">
					<a class="border border-success text-decoration-none text-white" href="/login">로그인</a>
					<a class="border border-success text-decoration-none text-white" href="/register">회원가입</a>
				</div>
			</div>
		</nav>
	</header>
</th:block>
</html>