body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

div {
  margin: 20px;
}

h2 {
  color: #333399;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
