<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="/css/select.css" type="text/css"
	media="screen" />

<link rel="stylesheet" href="/css/select.css" type="text/css"
	media="screen" />

<link rel="stylesheet" href="/css/select.css" type="text/css"
	media="screen" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>선택 화면</title>
</head>

<body>
	<!-- 헤더 -->
	<div th:replace="fragments/header :: headerFragment"></div>

	<div align="center">
		<table>
			<tr>
				<td colspan="2" align="center">  
					<form action="/list_fate.do" method="get">
						<input type="submit" value="사주결과 확인하기">
					</form>
					<form action="/list_couple.do" method="get">
						<input type="submit" value="궁합결과 확인하기">
					</form>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>